#eye-icon-1,#eye-icon-2{font-size:.9rem;color:#707070}
.auto-hide{animation:hideAlert 20s forwards}
@keyframes hideAlert{
to{opacity:0;display:none}
}
.alert-container{position:relative;display:none}
.alert-container.show{display:block;margin-bottom:1.25rem}
