/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans:wght@100;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    /* background-color: #eeeded; */
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

ul li a {
    color: #3d3d3d;
}
.blog-card {
    border-radius: 5px;
    margin: 10px 20px;
}

.card-banner {
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.card-banner img {
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 600;
}

.card-text {
    font-size: 15px;
}